<%- include("partials/header.ejs") %>

<main class="text-bg-dark p-3">
  <div class="row pt-5 m-0">
    <div class="hero-section container col-md-6 pt-5">
      <h1 class="display-5 fw-bold px-5">About</h1>
      <div class="px-5">
        <p class="lead mb-4">BlogWebApp was created using Node.js, Express.js, and EJS (Embedded JavaScript Templates). It allows users to create, manage and view blog posts. Blog data is stored temporarily in-memory, perfect for learning and testing.
            <br><br>
            <code>*Note: Posts will not persist between sessions as no database was used in this 
            version of the application.*</code></p>
      </div>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
