<%- include("partials/header.ejs") %>

<main class="text-bg-dark p-3">
    <div class="hero-section container p-5 my-5 text-center">
      <h1 class="display-5 fw-bold">About</h1>
      <div class="col-lg-11 mx-auto">
        <p class="lead mb-4">This web appliation was created using Node.js, Express.js, 
            and EJS (Embedded JavaScript Templates). It allows users to create, manage and view 
            blog posts. <br><br>
            <code>*Note: Posts will not persist between sessions as no database was used in this 
            version of the application.*</code></p>
      </div>
    </div>
</main>

<%- include("partials/footer.ejs") %>
