<%- include("partials/header.ejs") %>

<main class="text-bg-dark">
  <div class="row pt-5 m-0">
    <div class="blogs-section container pt-5 pb-5 px-5">
      <div class="shadow-lg p-5">
          <h2 class="fw-bold"><%= blog.title %></h2>
          <p class="card-text"><%= blog.content %></p>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
