<%- include("partials/header.ejs") %>

<main class="text-bg-dark p-3">
    <div class="container p-5">
        <form action="/submit" method="POST">
            <div class="mb-3">
                <label for="titleBlog" class="form-label">Blog Title</label>
                <input type="text" class="form-control" name="titleBlog" placeholder="Blog title...">
            </div>
            <div class="mb-3">
                <label for="contentBlog" class="form-label">Blog Content</label>
                <textarea class="form-control" name="contentBlog" rows="5" placeholder="Write your content here..."></textarea>
            </div>
            <div class="mb-3">
              <button type="submit" class=" mb-3">Publish</button>
            </div>
        </form>
    </div>
</main>

<%- include("partials/footer.ejs") %>
