html, body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.form-control {
    background-color: #adb5bd;
    color: #fff;
    border: #0dcaf0 solid;
}
