html, body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.nav-link:hover {
    color: #fff;
    background-color: #0dcaf0 !important;
}

.navbar-toggler {
    border: #0dcaf0 solid;
    border-radius: 0px;
}

.navbar-toggler:hover {
    background-color: #0dcaf0;
    border: #fff solid;
}

.btn {
    border-radius: 0px;
}

.card {
    border-radius: 0px;
}

.form-control {
    background-color: #adb5bd;
    color: #fff;
    border: #0dcaf0 solid;
    border-radius: 0px;
}
